.register-form{
    width: 600px;
    margin-top: 15px;
    border: solid 1px white;
    border-radius: 20px;
    padding: 25px;
}
@media only screen and (min-width: 680px) {
    .register-form{
        width: 600px;
    }

}
@media only screen and (max-width: 680px) {
    .register-form{
        width: 320px;
        margin-bottom: 40px;
    }
    input{
        width: 270px;
    }
    .centered{
        margin:auto;
    }
    .centered-btn{
        margin:auto;
        display: block;
    }
    .custom-control{
        margin-left: 0px;
    }
}
.container{
    display: flex;
    justify-content:center;
    background: transparent;
    padding-bottom: 30px;
}
.avatar{
    max-width: 120px;
    max-height: 120px;
    margin: auto
}
#prev-btn{
    position: absolute;
    top: 35%;
    left: 15%;
}
#next-btn{
    position: absolute;
    top: 35%;
    right: 15%;
}
.carousel-btn{
    background: transparent;
    border: none;
    width: 30px;
    height: 30px;
    z-index: 1000000;
}
.carousel-btn:hover{
    filter: blur(1px)
}
#spinner {
    position: absolute;
    left: calc( 50vw - 25px );
    top: 48.5vh;
    max-height: 50px;
    max-width: 50px;
    z-index: 1000;
  }
  #register-page{
    min-height: 80vh;
  }