<div class="container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>Br.</th>
      <td mat-cell *matCellDef="let element">{{ element.position }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Datum</th>
      <td mat-cell *matCellDef="let element">{{ element.time }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef>Proizvod</th>
      <td mat-cell *matCellDef="let element">{{ element.productDTO.title }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>Kategorija</th>
      <td mat-cell *matCellDef="let element">
        {{ element.productDTO.category }}
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="payment">
      <th mat-header-cell *matHeaderCellDef>Plaćanje</th>
      <td mat-cell *matCellDef="let element">{{ element.payment }}</td>
      <td mat-footer-cell *matFooterCellDef>Ukupno</td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Cijena</th>
      <td mat-cell *matCellDef="let element">
        {{ element.productDTO.price + " " }}BAM
      </td>
      <td mat-footer-cell *matFooterCellDef>{{ getTotalCost() | currency }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
</div>
