<a (click)="infoClick()" class="wrapper">
  <mat-card [class]="cardClass">
    <mat-card-header>
      <mat-card-subtitle
        ><span>{{ product.category }}</span></mat-card-subtitle
      >
      <mat-card-title>{{ product.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <img
        mat-card-image
        [src]="image"
        alt="Proizvod nema sliku!"
        class="product-img"
        *ngIf="hasImage"
      />
      <img
        mat-card-image
        src="../../../assets/imgs/no-image-icon.png"
        alt="Proizvod nema sliku!"
        class="product-img"
        *ngIf="!hasImage"
      />
    </mat-card-content>
    <mat-card-footer>
      <p class="price-p">
        <span class="big-font">{{ product.price }}</span
        ><span> BAM</span
        ><span *ngIf="product.sold" class="sold-note">PRODATO</span>
      </p>
    </mat-card-footer>
  </mat-card>
</a>
