#container{
    background: linear-gradient(#5680E9,#ffffff);
    min-height: 72vh;
    display: flex;
    justify-content:center;
}
.login-form {
    width: 300px;
    margin-top: 120px;
    border: solid 1px white;
    border-radius: 20px;
    padding: 25px;
    padding-bottom: 5px;
    height: 260px;

  }

  .login-form-margin {
    margin-bottom: 16px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }
  #a-right{
    float: right;
  }
  #spinner {
    position: absolute;
    left: calc( 50vw - 25px );
    top: 48.5vh;
    max-height: 50px;
    max-width: 50px;
    z-index: 1000;
  }
 