<div id="login-page">
  <div id="container">
    <mat-progress-spinner
      id="spinner"
      *ngIf="spinner"
      class="example-margin"
      [color]="color"
      [mode]="mode"
      [value]="value"
    >
    </mat-progress-spinner>
    <form
      nz-form
      [formGroup]="validateForm"
      class="login-form"
      (ngSubmit)="submitForm()"
    >
      <nz-form-item>
        <nz-form-control nzErrorTip="Unesite korisničko ime!">
          <nz-input-group nzPrefixIcon="user">
            <input
              type="text"
              nz-input
              formControlName="userName"
              placeholder="Korisničko ime"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Unesite lozinku!">
          <nz-input-group nzPrefixIcon="lock">
            <input
              type="password"
              nz-input
              formControlName="password"
              placeholder="Lozinka"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <div nz-row class="login-form-margin">
        <div nz-col [nzSpan]="12">
          <label nz-checkbox formControlName="remember">
            <span>Zapamti me</span>
          </label>
        </div>
      </div>
      <button
        nz-button
        class="login-form-button login-form-margin"
        [nzType]="'primary'"
      >
        Uloguj se
      </button>
      <a routerLink="/shop">Nastavi kao gost!</a>
      <a routerLink="/register" id="a-right">Registruj se!</a>
    </form>
  </div>
</div>
