<div id="shop">
  <mat-tab-group
    mat-stretch-tabs="false"
    mat-align-tabs="center"
    [(selectedIndex)]="tabIndex"
    (selectedTabChange)="saveTab()"
  >
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">shopping_cart</mat-icon>
        Prodavnica
      </ng-template>
      <div class="full-height">
        <app-shop></app-shop>
      </div>
    </mat-tab>
    <mat-tab [disabled]="guest">
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">add_shopping_cart</mat-icon>
        Dodaj ponudu
      </ng-template>
      <div class="form-cont">
        <app-new-product *ngIf="!guest"></app-new-product>
      </div>
    </mat-tab>
    <mat-tab [disabled]="guest">
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">shopping_basket</mat-icon>
        Istorija kupovina
      </ng-template>
      <div class="history">
        <app-purchase-history *ngIf="!guest"></app-purchase-history>
      </div>
    </mat-tab>

    <mat-tab [disabled]="guest">
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon"> account_circle</mat-icon>
        Moj profil
      </ng-template>
      <app-profile *ngIf="!guest"></app-profile>
    </mat-tab>
  </mat-tab-group>
</div>
