.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    margin: auto;
    padding: 15px;
    padding-top: 40px;
    justify-content: center;
    min-height: 100vh;
}
.controls{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 20px;
    padding-top: 22px;
  
    justify-content: center;
}
app-card{
    margin: 15px;
    
  }
mat-form-field{
    margin-left: 15px;
    margin-right: 15px;
    width: 220px;
}
/* mat-slider{
    width: 80%;
} */
mat-paginator{
    background-color: transparent;
    display: flex;
    justify-content: center;
 
}
#spinner {
    position: absolute;
    left: calc( 50vw - 25px );
    top: 48.5vh;
    max-height: 50px;
    max-width: 50px;
    z-index: 1000;
  }
  #shop{
    background: linear-gradient(to right,#fdfbfb, #d0d3d4);
  }
  #slider-lbl{
    margin-left: 15px;
    margin-right: 25px;
    font-family: var(--mdc-typography-body1-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
    font-weight: var(--mdc-typography-body1-font-weight, 400);
  }
  .history{
    min-height: 55vh;
  }