<div class="container">
  <mat-toolbar color="primary">
    <div class="avatar-cont">
      <img [src]="avatar" *ngIf="hasAvatar" class="avatar" />
      <img
        src="../../../assets/imgs/no-profile-img.png"
        *ngIf="!hasAvatar"
        class="avatar"
      />
    </div>
    <div class="info-cont">
      {{ user.firstname + " " + user.lastname }}<br />{{ user.city }}
    </div>
    <div class="control-cont">
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
        class="control-btn menu"
      >
        <mat-icon class="control-icons">menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="menu">
        <button mat-menu-item (click)="contactSupport()">
          <mat-icon class="control-icons">contact_support</mat-icon>
          <span>Korisnička podrška</span>
        </button>
        <button mat-menu-item (click)="changePersonalInfo()">
          <mat-icon class="control-icons">build</mat-icon>
          <span>Lični podaci</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon class="control-icons">power_settings_new</mat-icon>
          <span>Odjava sa naloga</span>
        </button>
      </mat-menu>
      <span class="buttons">
        <button mat-icon-button (click)="contactSupport()" class="control-btn">
          <mat-icon class="control-icons">contact_support</mat-icon>
        </button>
        <button
          mat-icon-button
          aria-label="Example icon-button with menu icon"
          class="control-btn"
          matTooltip="Izmjena informacija"
          (click)="changePersonalInfo()"
        >
          <mat-icon class="control-icons">build</mat-icon>
        </button>
        <button
          mat-icon-button
          aria-label="Example icon-button with menu icon"
          class="control-btn"
          matTooltip="Odjava"
          (click)="logout()"
        >
          <mat-icon class="control-icons">power_settings_new</mat-icon>
        </button></span
      >
    </div>
  </mat-toolbar>
  <app-shop [myProducts]="flag"></app-shop>
</div>
