
mat-toolbar{
    height: 140px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: calc ( 100vw - 80px );
}
@media only screen and (max-width: 500px){
    .buttons{
        display: none;
    }
    .avatar-cont{
        width: 150px;
    }
    .avatar{
        height: 70px;
    }
}
@media only screen and (min-width: 500px){
    .menu{
        display: none;
    }
    .avatar-cont{
        width: 250px;
    }
    .avatar{
        height: 110px;
    }
}
.info-cont{
    flex-grow: 1;
    text-align: center;
    margin-left: 15px;
}
.control-cont{
    /* width: 250px; */
    margin-left: 15px;

}
.control-btn{
    width: 80px;
    height: 80px;
    line-height: 80px;
}
.control-icons {
    font-size: 36px;
    width: 36px;
    height:36px;
    line-height: 36px;
  }
  .mat-button-ripple {
    font-size: inherit;
    width: inherit;
    height: inherit;
    line-height: inherit;
  }
  .control-cont{
    
  }