<div class="container">
  <div class="info">
    <div class="flex-container">
      <p class="attribute" id="price-attribute">Cijena:</p>
      <p class="bolded-text attribute-value" id="price">
        {{ product.price + " " }}BAM
      </p>
    </div>
    <div class="flex-container">
      <p class="attribute">Naziv:</p>
      <p class="bolded-text attribute-value">{{ product.title }}</p>
    </div>
    <div class="flex-container">
      <p class="attribute">Kategorija:</p>
      <p class="bolded-text attribute-value">{{ product.category }}</p>
    </div>
    <div class="flex-container">
      <p class="attribute">Stanje:</p>
      <p class="bolded-text attribute-value">{{ state }}</p>
    </div>
    <div class="flex-container">
      <p class="attribute">Dostupnost:</p>
      <p class="bolded-text attribute-value">{{ sold }}</p>
    </div>
    <div class="flex-container">
      <p class="attribute">Lokacija:</p>
      <p class="bolded-text attribute-value">{{ product.location }}</p>
    </div>
    <div class="flex-container">
      <p class="attribute">Prodavac:</p>
      <p class="attribute-value">{{ product.seller.info }}</p>
    </div>
    <div class="flex-container">
      <p class="attribute">Kontakt:</p>
      <p class="attribute-value">{{ product.contact }}</p>
    </div>
    <br />
    <div class="flex-container">
      <p class="attribute">Karakteristike</p>
    </div>
    <div class="flex-container" *ngFor="let attr of product.attributes">
      <p class="attribute">{{ attr.name }}:</p>
      <p class="attribute-value">
        {{ attr.value }}
      </p>
    </div>
    <button
      mat-fab
      color="accent"
      aria-label="Example icon button with a delete icon"
      (click)="buy()"
      matTooltip="Kupi proizvod"
      class="btn"
      *ngIf="!product.sold && !guest && !my"
    >
      <mat-icon>shopping_basket</mat-icon>
    </button>
    <button
      mat-fab
      color="accent"
      aria-label="Example icon button with a delete icon"
      (click)="delete()"
      matTooltip="Izbriši proizvod"
      class="btn"
      *ngIf="!guest && my"
    >
      <mat-icon>delete_forever</mat-icon>
    </button>
  </div>
  <div class="gallery">
    <div>
      <nz-carousel nzAutoPlay [nzEffect]="'fade'" nzEnableSwipe>
        <div nz-carousel-content *ngIf="noImage">
          <img
            src="../../../assets/imgs/no-image-icon.png"
            class="product-img"
          />
        </div>
        <div nz-carousel-content *ngFor="let img of images">
          <img [src]="img" class="product-img" />
        </div>
      </nz-carousel>
    </div>
  </div>
</div>

<div class="description" *ngIf="product.description !== ''">
  <p class="attribute">Detaljan opis</p>
  <p class="attribute-value">
    {{ product.description }}
  </p>
</div>
<div class="comments">
  <app-comment-box
    *ngFor="let comment of product.comments"
    [comment]="comment"
  ></app-comment-box>
  <div class="add-comment" *ngIf="!guest">
    <mat-form-field class="full-width">
      <mat-label>Komentar</mat-label>
      <textarea
        matInput
        [(ngModel)]="commentContent"
      ></textarea></mat-form-field
    ><br />
    <button
      mat-raised-button
      (click)="submit()"
      cdkFocusInitial
      color="primary"
    >
      Pošalji
    </button>
  </div>
</div>
<div class="flex-container home-btn">
  <button
    mat-fab
    color="primary"
    aria-label="Example icon button with a delete icon"
    (click)="home()"
    class="btn"
    matTooltip="Nazad"
  >
    <mat-icon>home</mat-icon>
  </button>
</div>
